name: Retag Images


on:
  schedule:
    - cron: '0 0 * * 0' # Every Sunday at midnight
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/retag/images.yml'
      - '.github/workflows/retag.yml'
      - 'cmd/retagger/**'

permissions:
  contents: read

jobs:
  retag:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        name: Checkout
      - uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        name: Login to GHCR
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Update docker
        run: sudo apt update && sudo apt install -y docker-ce
      - name: Setup containerd snapshotter
        run: |
          sudo mkdir -p /etc/docker
          test ! -f /etc/docker/daemon.json && echo '{}' | sudo tee /etc/docker/daemon.json

          tmp="$(mktemp)"
          jq '.features["containerd-snapshotter"] = true' /etc/docker/daemon.json | tee "${tmp}"
          sudo cp "${tmp}" /etc/docker/daemon.json
          jq '.debug = true' /etc/docker/daemon.json | tee "${tmp}"
          sudo cp "${tmp}" /etc/docker/daemon.json
          rm "${tmp}"

          sudo systemctl restart docker
      - name: docker info
        run: docker version; docker info
      - if: ${{ github.event_name == 'pull_request' }}
        name: Setup retag registry (pr)
        run: |
          set -ex -o pipefail
          docker run -d --rm --name registry -p 5000:5000 ghcr.io/azure/dalec/mirror/dockerhub/library/registry:latest
          echo "RETAG_REGISTRY=localhost:5000" >> $GITHUB_ENV
          echo "RETAG_REGISTRY_USE_HTTP=true" >> $GITHUB_ENV
      - if: ${{ github.event_name != 'pull_request' }}
        name: Setup retag registry (non-pr)
        run: |
          set -ex -o pipefail
          repo="ghcr.io/${{ github.repository }}"
          repo="$(tr '[:upper:]' '[:lower:]' <<<"$repo")"
          echo "RETAG_REGISTRY=${repo}" >> $GITHUB_ENV
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: '1.24'
          cache: true
      - name: Retag images
        run: |
          go run ./cmd/retagger .github/workflows/retag/images.yml
      - if: failure()
        name: daemon logs
        run: sudo journalctl -u docker
